In [1]:
from motionchart.motionchart import MotionChart
import pandas as pd

In [2]:
sg = pd.read_csv('ERP_by state and gender.csv')

In [3]:
hpi = pd.read_csv('House Price Index.csv')

In [4]:
ts = pd.read_excel('SA4 Time Series - October 2016.xls', sheetname = 'Time Series')

/Users/mac/anaconda3/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [5]:
hpi.rename(columns={'Unnamed: 0':'Date'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Sydney ;':'NSW'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Melbourne ;':'VIC'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Brisbane ;':'QLD'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Adelaide ;':'SA'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Perth ;':'WA'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Hobart ;':'TAS'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Darwin ;':'NT'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Canberra ;':'ACT'}, inplace=True)

In [6]:
hpi = pd.melt(hpi, id_vars=['Date'],value_vars=['NSW','VIC','QLD','SA','WA','TAS','NT','ACT'],var_name='State')
hpi.rename(columns = {'value':'House Price Index'}, inplace = True)
hpi

          Date State  House Price Index
0    01-Dec-05   NSW               81.8
1    01-Mar-06   NSW               80.8
2    01-Jun-06   NSW               82.3
3    01-Sep-06   NSW               82.0
4    01-Dec-06   NSW               82.7
5    01-Mar-07   NSW               81.9
6    01-Jun-07   NSW               85.2
7    01-Sep-07   NSW               87.3
8    01-Dec-07   NSW               89.2
9    01-Mar-08   NSW               88.5
10   01-Jun-08   NSW               87.3
11   01-Sep-08   NSW               85.7
12   01-Dec-08   NSW               84.5
13   01-Mar-09   NSW               83.9
14   01-Jun-09   NSW               87.5
15   01-Sep-09   NSW               91.1
16   01-Dec-09   NSW               96.0
17   01-Mar-10   NSW               98.9
18   01-Jun-10   NSW              101.4
19   01-Sep-10   NSW              101.1
20   01-Dec-10   NSW              101.3
21   01-Mar-11   NSW              101.0
22   01-Jun-11   NSW              101.4
23   01-Sep-11   NSW               99.9
24   01-Dec-11   NSW               98.4
25   01-Mar-12   NSW              100.3
26   01-Jun-12   NSW              101.4
27   01-Sep-12   NSW              100.9
28   01-Dec-12   NSW              103.7
29   01-Mar-13   NSW              104.7
..         ...   ...                ...
282  01-Mar-08   ACT               89.3
283  01-Jun-08   ACT               87.7
284  01-Sep-08   ACT               85.2
285  01-Dec-08   ACT               84.8
286  01-Mar-09   ACT               85.8
287  01-Jun-09   ACT               88.7
288  01-Sep-09   ACT               92.1
289  01-Dec-09   ACT               97.6
290  01-Mar-10   ACT              101.7
291  01-Jun-10   ACT              101.6
292  01-Sep-10   ACT              101.6
293  01-Dec-10   ACT              102.5
294  01-Mar-11   ACT              102.3
295  01-Jun-11   ACT              101.9
296  01-Sep-11   ACT               98.7
297  01-Dec-11   ACT              100.9
298  01-Mar-12   ACT              100.8
299  01-Jun-12   ACT               99.5
300  01-Sep-12   ACT               99.5
301  01-Dec-12   ACT              101.8
302  01-Mar-13   ACT              100.3
303  01-Jun-13   ACT              101.0
304  01-Sep-13   ACT              101.1
305  01-Dec-13   ACT              101.8
306  01-Mar-14   ACT              102.3
307  01-Jun-14   ACT              103.3
308  01-Sep-14   ACT              103.5
309  01-Dec-14   ACT              104.3
310  01-Mar-15   ACT              105.4
311  01-Jun-15   ACT              106.2

[312 rows x 3 columns]

In [7]:
sg.rename(columns={'Unnamed: 0':'Date'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  New South Wales ;':'NSW'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Victoria ;':'VIC'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Queensland ;':'QLD'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  South Australia ;':'SA'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Western Australia ;':'WA'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Tasmania ;':'TAS'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Northern Territory ;':'NT'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Australian Capital Territory ;':'ACT'}, inplace=True)

In [8]:
sg = sg[['Date','NSW','VIC','QLD','SA','WA','TAS','NT','ACT']]

In [9]:
sg = pd.melt(sg, id_vars=['Date'],value_vars=['NSW','VIC','QLD','SA','WA','TAS','NT','ACT'],var_name='State')
sg.rename(columns = {'value':'Population'}, inplace = True)
sg

          Date State  Population
0    01-Dec-05   NSW     6718023
1    01-Mar-06   NSW     6735528
2    01-Jun-06   NSW     6742690
3    01-Sep-06   NSW     6766133
4    01-Dec-06   NSW     6786160
5    01-Mar-07   NSW     6815359
6    01-Jun-07   NSW     6834156
7    01-Sep-07   NSW     6859736
8    01-Dec-07   NSW     6883852
9    01-Mar-08   NSW     6919907
10   01-Jun-08   NSW     6943461
11   01-Sep-08   NSW     6972395
12   01-Dec-08   NSW     7001782
13   01-Mar-09   NSW     7032423
14   01-Jun-09   NSW     7053755
15   01-Sep-09   NSW     7079175
16   01-Dec-09   NSW     7101504
17   01-Mar-10   NSW     7128356
18   01-Jun-10   NSW     7144292
19   01-Sep-10   NSW     7162726
20   01-Dec-10   NSW     7179891
21   01-Mar-11   NSW     7204737
22   01-Jun-11   NSW     7218529
23   01-Sep-11   NSW     7240922
24   01-Dec-11   NSW     7261592
25   01-Mar-12   NSW     7288180
26   01-Jun-12   NSW     7307183
27   01-Sep-12   NSW     7330835
28   01-Dec-12   NSW     7356850
29   01-Mar-13   NSW     7386000
..         ...   ...         ...
282  01-Mar-08   ACT      346477
283  01-Jun-08   ACT      348368
284  01-Sep-08   ACT      349543
285  01-Dec-08   ACT      351101
286  01-Mar-09   ACT      353351
287  01-Jun-09   ACT      354785
288  01-Sep-09   ACT      356310
289  01-Dec-09   ACT      357859
290  01-Mar-10   ACT      360361
291  01-Jun-10   ACT      361766
292  01-Sep-10   ACT      362838
293  01-Dec-10   ACT      364833
294  01-Mar-11   ACT      366737
295  01-Jun-11   ACT      367985
296  01-Sep-11   ACT      369397
297  01-Dec-11   ACT      371108
298  01-Mar-12   ACT      373575
299  01-Jun-12   ACT      375183
300  01-Sep-12   ACT      376945
301  01-Dec-12   ACT      377927
302  01-Mar-13   ACT      379988
303  01-Jun-13   ACT      380914
304  01-Sep-13   ACT      382032
305  01-Dec-13   ACT      383310
306  01-Mar-14   ACT      384934
307  01-Jun-14   ACT      385397
308  01-Sep-14   ACT      386548
309  01-Dec-14   ACT      387548
310  01-Mar-15   ACT      389781
311  01-Jun-15   ACT      390757

[312 rows x 3 columns]

In [10]:
import datetime
ts.Date = ts.Date.apply(lambda x: datetime.datetime.strftime(x, '%d-%b-%y'))

In [11]:
ts.rename(columns={'Unemployment Rate (15+)':'Unemployment Rate'}, inplace=True)
ts.rename(columns={'State/Territory':'State'}, inplace=True)
ts = ts[['State','Date','Unemployment Rate']]
ts

     State       Date  Unemployment Rate
0      NSW  01-Feb-78           6.773762
1      NSW  01-Mar-78           6.490161
2      NSW  01-Apr-78           6.507978
3      NSW  01-May-78           6.115171
4      NSW  01-Jun-78           6.424127
5      NSW  01-Jul-78           6.100929
6      NSW  01-Aug-78           6.258992
7      NSW  01-Sep-78           6.271401
8      NSW  01-Oct-78           6.080854
9      NSW  01-Nov-78           6.249307
10     NSW  01-Dec-78           6.012720
11     NSW  01-Jan-79           5.938206
12     NSW  01-Feb-79           5.942471
13     NSW  01-Mar-79           6.193438
14     NSW  01-Apr-79           6.420074
15     NSW  01-May-79           6.231074
16     NSW  01-Jun-79           6.191591
17     NSW  01-Jul-79           6.155945
18     NSW  01-Aug-79           5.521118
19     NSW  01-Sep-79           5.643055
20     NSW  01-Oct-79           5.949793
21     NSW  01-Nov-79           5.469679
22     NSW  01-Dec-79           5.621649
23     NSW  01-Jan-80           5.705828
24     NSW  01-Feb-80           5.626996
25     NSW  01-Mar-80           5.461570
26     NSW  01-Apr-80           5.454108
27     NSW  01-May-80           5.735761
28     NSW  01-Jun-80           5.684550
29     NSW  01-Jul-80           5.547623
...    ...        ...                ...
3690   ACT  01-May-14           3.934035
3691   ACT  01-Jun-14           4.202030
3692   ACT  01-Jul-14           4.494413
3693   ACT  01-Aug-14           4.724015
3694   ACT  01-Sep-14           4.850543
3695   ACT  01-Oct-14           4.870793
3696   ACT  01-Nov-14           4.784383
3697   ACT  01-Dec-14           4.641994
3698   ACT  01-Jan-15           4.489441
3699   ACT  01-Feb-15           4.376805
3700   ACT  01-Mar-15           4.326284
3701   ACT  01-Apr-15           4.341713
3702   ACT  01-May-15           4.420892
3703   ACT  01-Jun-15           4.540913
3704   ACT  01-Jul-15           4.713359
3705   ACT  01-Aug-15           4.888133
3706   ACT  01-Sep-15           5.024833
3707   ACT  01-Oct-15           5.065521
3708   ACT  01-Nov-15           4.996959
3709   ACT  01-Dec-15           4.832277
3710   ACT  01-Jan-16           4.605913
3711   ACT  01-Feb-16           4.359034
3712   ACT  01-Mar-16           4.115522
3713   ACT  01-Apr-16           3.901763
3714   ACT  01-May-16           3.751041
3715   ACT  01-Jun-16           3.662624
3716   ACT  01-Jul-16           3.600454
3717   ACT  01-Aug-16           3.541169
3718   ACT  01-Sep-16           3.492313
3719   ACT  01-Oct-16           3.421349

[3720 rows x 3 columns]

In [12]:
merge = pd.merge(sg,hpi, on=['Date','State'])
merge

          Date State  Population  House Price Index
0    01-Dec-05   NSW     6718023               81.8
1    01-Mar-06   NSW     6735528               80.8
2    01-Jun-06   NSW     6742690               82.3
3    01-Sep-06   NSW     6766133               82.0
4    01-Dec-06   NSW     6786160               82.7
5    01-Mar-07   NSW     6815359               81.9
6    01-Jun-07   NSW     6834156               85.2
7    01-Sep-07   NSW     6859736               87.3
8    01-Dec-07   NSW     6883852               89.2
9    01-Mar-08   NSW     6919907               88.5
10   01-Jun-08   NSW     6943461               87.3
11   01-Sep-08   NSW     6972395               85.7
12   01-Dec-08   NSW     7001782               84.5
13   01-Mar-09   NSW     7032423               83.9
14   01-Jun-09   NSW     7053755               87.5
15   01-Sep-09   NSW     7079175               91.1
16   01-Dec-09   NSW     7101504               96.0
17   01-Mar-10   NSW     7128356               98.9
18   01-Jun-10   NSW     7144292              101.4
19   01-Sep-10   NSW     7162726              101.1
20   01-Dec-10   NSW     7179891              101.3
21   01-Mar-11   NSW     7204737              101.0
22   01-Jun-11   NSW     7218529              101.4
23   01-Sep-11   NSW     7240922               99.9
24   01-Dec-11   NSW     7261592               98.4
25   01-Mar-12   NSW     7288180              100.3
26   01-Jun-12   NSW     7307183              101.4
27   01-Sep-12   NSW     7330835              100.9
28   01-Dec-12   NSW     7356850              103.7
29   01-Mar-13   NSW     7386000              104.7
..         ...   ...         ...                ...
282  01-Mar-08   ACT      346477               89.3
283  01-Jun-08   ACT      348368               87.7
284  01-Sep-08   ACT      349543               85.2
285  01-Dec-08   ACT      351101               84.8
286  01-Mar-09   ACT      353351               85.8
287  01-Jun-09   ACT      354785               88.7
288  01-Sep-09   ACT      356310               92.1
289  01-Dec-09   ACT      357859               97.6
290  01-Mar-10   ACT      360361              101.7
291  01-Jun-10   ACT      361766              101.6
292  01-Sep-10   ACT      362838              101.6
293  01-Dec-10   ACT      364833              102.5
294  01-Mar-11   ACT      366737              102.3
295  01-Jun-11   ACT      367985              101.9
296  01-Sep-11   ACT      369397               98.7
297  01-Dec-11   ACT      371108              100.9
298  01-Mar-12   ACT      373575              100.8
299  01-Jun-12   ACT      375183               99.5
300  01-Sep-12   ACT      376945               99.5
301  01-Dec-12   ACT      377927              101.8
302  01-Mar-13   ACT      379988              100.3
303  01-Jun-13   ACT      380914              101.0
304  01-Sep-13   ACT      382032              101.1
305  01-Dec-13   ACT      383310              101.8
306  01-Mar-14   ACT      384934              102.3
307  01-Jun-14   ACT      385397              103.3
308  01-Sep-14   ACT      386548              103.5
309  01-Dec-14   ACT      387548              104.3
310  01-Mar-15   ACT      389781              105.4
311  01-Jun-15   ACT      390757              106.2

[312 rows x 4 columns]

In [13]:
merge = pd.merge(merge,ts, on=['Date','State'])
merge

          Date State  Population  House Price Index  Unemployment Rate
0    01-Dec-05   NSW     6718023               81.8           5.293757
1    01-Mar-06   NSW     6735528               80.8           4.978780
2    01-Jun-06   NSW     6742690               82.3           5.288439
3    01-Sep-06   NSW     6766133               82.0           5.200780
4    01-Dec-06   NSW     6786160               82.7           4.811675
5    01-Mar-07   NSW     6815359               81.9           4.957025
6    01-Jun-07   NSW     6834156               85.2           4.574077
7    01-Sep-07   NSW     6859736               87.3           4.655129
8    01-Dec-07   NSW     6883852               89.2           4.647184
9    01-Mar-08   NSW     6919907               88.5           4.337943
10   01-Jun-08   NSW     6943461               87.3           4.565160
11   01-Sep-08   NSW     6972395               85.7           4.882473
12   01-Dec-08   NSW     7001782               84.5           5.247378
13   01-Mar-09   NSW     7032423               83.9           6.690732
14   01-Jun-09   NSW     7053755               87.5           6.404251
15   01-Sep-09   NSW     7079175               91.1           5.476801
16   01-Dec-09   NSW     7101504               96.0           5.846353
17   01-Mar-10   NSW     7128356               98.9           5.491089
18   01-Jun-10   NSW     7144292              101.4           5.186899
19   01-Sep-10   NSW     7162726              101.1           5.059694
20   01-Dec-10   NSW     7179891              101.3           4.582935
21   01-Mar-11   NSW     7204737              101.0           5.054648
22   01-Jun-11   NSW     7218529              101.4           5.241715
23   01-Sep-11   NSW     7240922               99.9           5.470828
24   01-Dec-11   NSW     7261592               98.4           5.603000
25   01-Mar-12   NSW     7288180              100.3           4.700005
26   01-Jun-12   NSW     7307183              101.4           5.197957
27   01-Sep-12   NSW     7330835              100.9           5.273538
28   01-Dec-12   NSW     7356850              103.7           5.088431
29   01-Mar-13   NSW     7386000              104.7           5.506718
..         ...   ...         ...                ...                ...
282  01-Mar-08   ACT      346477               89.3           2.625156
283  01-Jun-08   ACT      348368               87.7           2.766686
284  01-Sep-08   ACT      349543               85.2           2.799948
285  01-Dec-08   ACT      351101               84.8           2.540602
286  01-Mar-09   ACT      353351               85.8           2.973192
287  01-Jun-09   ACT      354785               88.7           3.555800
288  01-Sep-09   ACT      356310               92.1           3.712130
289  01-Dec-09   ACT      357859               97.6           3.796576
290  01-Mar-10   ACT      360361              101.7           3.540249
291  01-Jun-10   ACT      361766              101.6           3.257533
292  01-Sep-10   ACT      362838              101.6           3.172408
293  01-Dec-10   ACT      364833              102.5           3.346204
294  01-Mar-11   ACT      366737              102.3           3.715518
295  01-Jun-11   ACT      367985              101.9           4.112735
296  01-Sep-11   ACT      369397               98.7           3.886826
297  01-Dec-11   ACT      371108              100.9           3.638854
298  01-Mar-12   ACT      373575              100.8           3.583104
299  01-Jun-12   ACT      375183               99.5           3.738889
300  01-Sep-12   ACT      376945               99.5           3.900981
301  01-Dec-12   ACT      377927              101.8           4.352154
302  01-Mar-13   ACT      379988              100.3           4.424880
303  01-Jun-13   ACT      380914              101.0           4.043819
304  01-Sep-13   ACT      382032              101.1           3.987934
305  01-Dec-13   ACT      383310              101.8           3.672379
306  01-Mar-14   ACT      384934              102.3           3.613610
307  01-Jun-14   ACT      385397              103.3           4.202030
308  01-Sep-14   ACT      386548              103.5           4.850543
309  01-Dec-14   ACT      387548              104.3           4.641994
310  01-Mar-15   ACT      389781              105.4           4.326284
311  01-Jun-15   ACT      390757              106.2           4.540913

[312 rows x 5 columns]

In [14]:
merge.to_csv("Task1.csv",index=False,sep=',')

In [15]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [16]:
mChart = MotionChart(df = merge, key='Date', x='Unemployment Rate', y='House Price Index', xscale='linear', yscale='linear',
                     size='Population', color='State', category='State')

mChart.to_notebook()

In [17]:
sg = pd.read_csv('userssharedsdfratebrthsyaw1819raceethncty20002012.csv')

In [18]:
sg.rename(columns={'Race/ethnicity ':'Race'}, inplace=True)
sg.rename(columns={'Rate of birth to women ages 18-19':'18-19'}, inplace=True)
sg.rename(columns={'Rate of birth to women ages 20-24':'20-24'}, inplace=True)
sg.rename(columns={'Distribution of male children born to women ages 18-19':'Male Children(18-19)'}, inplace=True)
sg.rename(columns={'Distribution of female children born to women ages 18-19':'Female Children(18-19)'}, inplace=True)
sg.rename(columns={'Distribution of male children born to women ages 20-24':'Male Children(20-24)'}, inplace=True)
sg.rename(columns={'Distribution of female children born to women ages 20-24':'Female Children(20-24)'}, inplace=True)

In [19]:
sg1 = sg[['Race','Year','18-19','20-24']]

In [20]:
sg1 = pd.melt(sg, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg1.rename(columns = {'value':'Rate of Birth'}, inplace = True)
sg1

                              Race  Year Women Ages  Rate of Birth
0              White, non-Hispanic  2000      18-19           57.5
1              White, non-Hispanic  2001      18-19           54.7
2              White, non-Hispanic  2002      18-19           52.0
3              White, non-Hispanic  2003      18-19           50.0
4              White, non-Hispanic  2004      18-19           48.6
5              White, non-Hispanic  2005      18-19           48.0
6              White, non-Hispanic  2006      18-19           49.4
7              White, non-Hispanic  2007      18-19           50.4
8              White, non-Hispanic  2008      18-19           48.6
9              White, non-Hispanic  2009      18-19           46.2
10             White, non-Hispanic  2010      18-19           42.5
11             White, non-Hispanic  2011      18-19           39.9
12             White, non-Hispanic  2012      18-19           37.9
13             Black, non-Hispanic  2000      18-19          121.9
14             Black, non-Hispanic  2001      18-19          115.9
15             Black, non-Hispanic  2002      18-19          109.5
16             Black, non-Hispanic  2003      18-19          103.4
17             Black, non-Hispanic  2004      18-19          101.6
18             Black, non-Hispanic  2005      18-19          100.2
19             Black, non-Hispanic  2006      18-19          105.1
20             Black, non-Hispanic  2007      18-19          105.2
21             Black, non-Hispanic  2008      18-19          100.0
22             Black, non-Hispanic  2009      18-19           93.5
23             Black, non-Hispanic  2010      18-19           85.6
24             Black, non-Hispanic  2011      18-19           78.8
25             Black, non-Hispanic  2012      18-19           74.1
26                        Hispanic  2000      18-19          132.6
27                        Hispanic  2001      18-19          131.3
28                        Hispanic  2002      18-19          127.1
29                        Hispanic  2003      18-19          124.8
..                             ...   ...        ...            ...
100                       Hispanic  2009      20-24          140.1
101                       Hispanic  2010      20-24          126.1
102                       Hispanic  2011      20-24          116.0
103                       Hispanic  2012      20-24          111.5
104  American Indian/Alaska Native  2000      20-24          117.2
105  American Indian/Alaska Native  2001      20-24          113.8
106  American Indian/Alaska Native  2002      20-24          110.7
107  American Indian/Alaska Native  2003      20-24          107.0
108  American Indian/Alaska Native  2004      20-24          105.4
109  American Indian/Alaska Native  2005      20-24          102.9
110  American Indian/Alaska Native  2006      20-24          106.8
111  American Indian/Alaska Native  2007      20-24          105.8
112  American Indian/Alaska Native  2008      20-24          102.7
113  American Indian/Alaska Native  2009      20-24           96.3
114  American Indian/Alaska Native  2010      20-24           91.0
115  American Indian/Alaska Native  2011      20-24           86.6
116  American Indian/Alaska Native  2012      20-24           81.7
117     Asian and Pacific Islander  2000      20-24           60.3
118     Asian and Pacific Islander  2001      20-24           56.0
119     Asian and Pacific Islander  2002      20-24           55.5
120     Asian and Pacific Islander  2003      20-24           54.3
121     Asian and Pacific Islander  2004      20-24           53.3
122     Asian and Pacific Islander  2005      20-24           52.9
123     Asian and Pacific Islander  2006      20-24           53.8
124     Asian and Pacific Islander  2007      20-24           53.2
125     Asian and Pacific Islander  2008      20-24           50.4
126     Asian and Pacific Islander  2009      20-24           46.4
127     Asian and Pacific Islander  2010      20-24           42.6
128     Asian and Pacific Islander  2011      20-24           41.9
129     Asian and Pacific Islander  2012      20-24           41.4

[130 rows x 4 columns]

In [21]:
sg2 = sg[['Race','Year','Male Children(18-19)','Male Children(20-24)']]
sg2.rename(columns={'Male Children(18-19)':'18-19'}, inplace=True)
sg2.rename(columns={'Male Children(20-24)':'20-24'}, inplace=True)
sg2 = pd.melt(sg2, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg2.rename(columns = {'value':'Male Children Distribution'}, inplace = True)
sg2

/Users/mac/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                              Race  Year Women Ages Male Children Distribution
0              White, non-Hispanic  2000      18-19                      51.5%
1              White, non-Hispanic  2001      18-19                      51.3%
2              White, non-Hispanic  2002      18-19                      51.1%
3              White, non-Hispanic  2003      18-19                      51.4%
4              White, non-Hispanic  2004      18-19                      51.2%
5              White, non-Hispanic  2005      18-19                      51.6%
6              White, non-Hispanic  2006      18-19                      51.4%
7              White, non-Hispanic  2007      18-19                      51.3%
8              White, non-Hispanic  2008      18-19                      51.2%
9              White, non-Hispanic  2009      18-19                      51.4%
10             White, non-Hispanic  2010      18-19                      51.6%
11             White, non-Hispanic  2011      18-19                      51.3%
12             White, non-Hispanic  2012      18-19                      51.4%
13             Black, non-Hispanic  2000      18-19                        51%
14             Black, non-Hispanic  2001      18-19                      50.8%
15             Black, non-Hispanic  2002      18-19                      51.1%
16             Black, non-Hispanic  2003      18-19                      51.4%
17             Black, non-Hispanic  2004      18-19                      51.2%
18             Black, non-Hispanic  2005      18-19                      50.7%
19             Black, non-Hispanic  2006      18-19                      51.2%
20             Black, non-Hispanic  2007      18-19                      50.8%
21             Black, non-Hispanic  2008      18-19                      50.9%
22             Black, non-Hispanic  2009      18-19                        51%
23             Black, non-Hispanic  2010      18-19                      51.1%
24             Black, non-Hispanic  2011      18-19                        51%
25             Black, non-Hispanic  2012      18-19                      51.1%
26                        Hispanic  2000      18-19                      51.2%
27                        Hispanic  2001      18-19                      51.1%
28                        Hispanic  2002      18-19                      51.1%
29                        Hispanic  2003      18-19                      51.1%
..                             ...   ...        ...                        ...
100                       Hispanic  2009      20-24                      51.1%
101                       Hispanic  2010      20-24                      50.9%
102                       Hispanic  2011      20-24                        51%
103                       Hispanic  2012      20-24                      50.9%
104  American Indian/Alaska Native  2000      20-24                      51.4%
105  American Indian/Alaska Native  2001      20-24                      50.7%
106  American Indian/Alaska Native  2002      20-24                      50.3%
107  American Indian/Alaska Native  2003      20-24                        51%
108  American Indian/Alaska Native  2004      20-24                      50.5%
109  American Indian/Alaska Native  2005      20-24                      50.1%
110  American Indian/Alaska Native  2006      20-24                      50.9%
111  American Indian/Alaska Native  2007      20-24                      51.2%
112  American Indian/Alaska Native  2008      20-24                      51.1%
113  American Indian/Alaska Native  2009      20-24                      50.8%
114  American Indian/Alaska Native  2010      20-24                      50.9%
115  American Indian/Alaska Native  2011      20-24                      50.8%
116  American Indian/Alaska Native  2012      20-24                      50.7%
117     Asian and Pacific Islander  2000      20-24                      51.8%
118     Asian and Pacific Islander  2001      20-24                        52%
119     Asian and Pacific Islander  2002      20-24                      51.3%
120     Asian and Pacific Islander  2003      20-24                        51%
121     Asian and Pacific Islander  2004      20-24                      51.3%
122     Asian and Pacific Islander  2005      20-24                      51.3%
123     Asian and Pacific Islander  2006      20-24                      51.3%
124     Asian and Pacific Islander  2007      20-24                      50.7%
125     Asian and Pacific Islander  2008      20-24                      51.2%
126     Asian and Pacific Islander  2009      20-24                      51.3%
127     Asian and Pacific Islander  2010      20-24                      51.6%
128     Asian and Pacific Islander  2011      20-24                      51.1%
129     Asian and Pacific Islander  2012      20-24                      51.4%

[130 rows x 4 columns]

In [22]:
sg3 = sg[['Race','Year','Female Children(18-19)','Female Children(20-24)']]
sg3.rename(columns={'Female Children(18-19)':'18-19'}, inplace=True)
sg3.rename(columns={'Female Children(20-24)':'20-24'}, inplace=True)
sg3 = pd.melt(sg3, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg3.rename(columns = {'value':'Female Children Distribution'}, inplace = True)
sg3

/Users/mac/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Race,Year,Women Ages,Female Children Distribution
0,"White, non-Hispanic",2000,18-19,48.5%
1,"White, non-Hispanic",2001,18-19,48.7%
2,"White, non-Hispanic",2002,18-19,48.9%
3,"White, non-Hispanic",2003,18-19,48.6%
4,"White, non-Hispanic",2004,18-19,48.8%
5,"White, non-Hispanic",2005,18-19,48.4%
6,"White, non-Hispanic",2006,18-19,48.6%
7,"White, non-Hispanic",2007,18-19,48.7%
8,"White, non-Hispanic",2008,18-19,48.8%
9,"White, non-Hispanic",2009,18-19,48.6%
10,"White, non-Hispanic",2010,18-19,48.4%
11,"White, non-Hispanic",2011,18-19,48.7%
12,"White, non-Hispanic",2012,18-19,48.6%
13,"Black, non-Hispanic",2000,18-19,49%
14,"Black, non-Hispanic",2001,18-19,49.2%
15,"Black, non-Hispanic",2002,18-19,48.9%
16,"Black, non-Hispanic",2003,18-19,48.6%
17,"Black, non-Hispanic",2004,18-19,48.8%
18,"Black, non-Hispanic",2005,18-19,49.3%
19,"Black, non-Hispanic",2006,18-19,48.8%
20,"Black, non-Hispanic",2007,18-19,49.2%
21,"Black, non-Hispanic",2008,18-19,49.1%
22,"Black, non-Hispanic",2009,18-19,49%
23,"Black, non-Hispanic",2010,18-19,48.9%
24,"Black, non-Hispanic",2011,18-19,49%
25,"Black, non-Hispanic",2012,18-19,48.9%
26,Hispanic,2000,18-19,48.8%
27,Hispanic,2001,18-19,48.9%
28,Hispanic,2002,18-19,48.9%
29,Hispanic,2003,18-19,48.9%
...,...,...,...,...
100,Hispanic,2009,20-24,48.9%
101,Hispanic,2010,20-24,49.1%
102,Hispanic,2011,20-24,49%
103,Hispanic,2012,20-24,49.1%
104,American Indian/Alaska Native,2000,20-24,48.6%
105,American Indian/Alaska Native,2001,20-24,49.3%
106,American Indian/Alaska Native,2002,20-24,49.7%
107,American Indian/Alaska Native,2003,20-24,49%
108,American Indian/Alaska Native,2004,20-24,49.5%
109,American Indian/Alaska Native,2005,20-24,49.9%
110,American Indian/Alaska Native,2006,20-24,49.1%
111,American Indian/Alaska Native,2007,20-24,48.8%
112,American Indian/Alaska Native,2008,20-24,48.9%
113,American Indian/Alaska Native,2009,20-24,49.2%
114,American Indian/Alaska Native,2010,20-24,49.1%
115,American Indian/Alaska Native,2011,20-24,49.2%
116,American Indian/Alaska Native,2012,20-24,49.3%
117,Asian and Pacific Islander,2000,20-24,48.2%
118,Asian and Pacific Islander,2001,20-24,48%
119,Asian and Pacific Islander,2002,20-24,48.7%
120,Asian and Pacific Islander,2003,20-24,49%
121,Asian and Pacific Islander,2004,20-24,48.7%
122,Asian and Pacific Islander,2005,20-24,48.7%
123,Asian and Pacific Islander,2006,20-24,48.7%
124,Asian and Pacific Islander,2007,20-24,49.3%
125,Asian and Pacific Islander,2008,20-24,48.8%
126,Asian and Pacific Islander,2009,20-24,48.7%
127,Asian and Pacific Islander,2010,20-24,48.4%
128,Asian and Pacific Islander,2011,20-24,48.9%
129,Asian and Pacific Islander,2012,20-24,48.6%

In [23]:
merge1 = pd.merge(sg1,sg2, on=['Race','Year','Women Ages'])

In [24]:
merge1 = pd.merge(merge1,sg3, on=['Race','Year','Women Ages'])
merge1

,Race,Year,Women Ages,Rate of Birth,Male Children Distribution,Female Children Distribution
0,"White, non-Hispanic",2000,18-19,57.5,51.5%,48.5%
1,"White, non-Hispanic",2001,18-19,54.7,51.3%,48.7%
2,"White, non-Hispanic",2002,18-19,52.0,51.1%,48.9%
3,"White, non-Hispanic",2003,18-19,50.0,51.4%,48.6%
4,"White, non-Hispanic",2004,18-19,48.6,51.2%,48.8%
5,"White, non-Hispanic",2005,18-19,48.0,51.6%,48.4%
6,"White, non-Hispanic",2006,18-19,49.4,51.4%,48.6%
7,"White, non-Hispanic",2007,18-19,50.4,51.3%,48.7%
8,"White, non-Hispanic",2008,18-19,48.6,51.2%,48.8%
9,"White, non-Hispanic",2009,18-19,46.2,51.4%,48.6%
10,"White, non-Hispanic",2010,18-19,42.5,51.6%,48.4%
11,"White, non-Hispanic",2011,18-19,39.9,51.3%,48.7%
12,"White, non-Hispanic",2012,18-19,37.9,51.4%,48.6%
13,"Black, non-Hispanic",2000,18-19,121.9,51%,49%
14,"Black, non-Hispanic",2001,18-19,115.9,50.8%,49.2%
15,"Black, non-Hispanic",2002,18-19,109.5,51.1%,48.9%
16,"Black, non-Hispanic",2003,18-19,103.4,51.4%,48.6%
17,"Black, non-Hispanic",2004,18-19,101.6,51.2%,48.8%
18,"Black, non-Hispanic",2005,18-19,100.2,50.7%,49.3%
19,"Black, non-Hispanic",2006,18-19,105.1,51.2%,48.8%
20,"Black, non-Hispanic",2007,18-19,105.2,50.8%,49.2%
21,"Black, non-Hispanic",2008,18-19,100.0,50.9%,49.1%
22,"Black, non-Hispanic",2009,18-19,93.5,51%,49%
23,"Black, non-Hispanic",2010,18-19,85.6,51.1%,48.9%
24,"Black, non-Hispanic",2011,18-19,78.8,51%,49%
25,"Black, non-Hispanic",2012,18-19,74.1,51.1%,48.9%
26,Hispanic,2000,18-19,132.6,51.2%,48.8%
27,Hispanic,2001,18-19,131.3,51.1%,48.9%
28,Hispanic,2002,18-19,127.1,51.1%,48.9%
29,Hispanic,2003,18-19,124.8,51.1%,48.9%
...,...,...,...,...,...,...
100,Hispanic,2009,20-24,140.1,51.1%,48.9%
101,Hispanic,2010,20-24,126.1,50.9%,49.1%
102,Hispanic,2011,20-24,116.0,51%,49%
103,Hispanic,2012,20-24,111.5,50.9%,49.1%
104,American Indian/Alaska Native,2000,20-24,117.2,51.4%,48.6%
105,American Indian/Alaska Native,2001,20-24,113.8,50.7%,49.3%
106,American Indian/Alaska Native,2002,20-24,110.7,50.3%,49.7%
107,American Indian/Alaska Native,2003,20-24,107.0,51%,49%
108,American Indian/Alaska Native,2004,20-24,105.4,50.5%,49.5%
109,American Indian/Alaska Native,2005,20-24,102.9,50.1%,49.9%
110,American Indian/Alaska Native,2006,20-24,106.8,50.9%,49.1%
111,American Indian/Alaska Native,2007,20-24,105.8,51.2%,48.8%
112,American Indian/Alaska Native,2008,20-24,102.7,51.1%,48.9%
113,American Indian/Alaska Native,2009,20-24,96.3,50.8%,49.2%
114,American Indian/Alaska Native,2010,20-24,91.0,50.9%,49.1%
115,American Indian/Alaska Native,2011,20-24,86.6,50.8%,49.2%
116,American Indian/Alaska Native,2012,20-24,81.7,50.7%,49.3%
117,Asian and Pacific Islander,2000,20-24,60.3,51.8%,48.2%
118,Asian and Pacific Islander,2001,20-24,56.0,52%,48%
119,Asian and Pacific Islander,2002,20-24,55.5,51.3%,48.7%
120,Asian and Pacific Islander,2003,20-24,54.3,51%,49%
121,Asian and Pacific Islander,2004,20-24,53.3,51.3%,48.7%
122,Asian and Pacific Islander,2005,20-24,52.9,51.3%,48.7%
123,Asian and Pacific Islander,2006,20-24,53.8,51.3%,48.7%
124,Asian and Pacific Islander,2007,20-24,53.2,50.7%,49.3%
125,Asian and Pacific Islander,2008,20-24,50.4,51.2%,48.8%
126,Asian and Pacific Islander,2009,20-24,46.4,51.3%,48.7%
127,Asian and Pacific Islander,2010,20-24,42.6,51.6%,48.4%
128,Asian and Pacific Islander,2011,20-24,41.9,51.1%,48.9%
129,Asian and Pacific Islander,2012,20-24,41.4,51.4%,48.6%

In [25]:
merge1.to_csv("Task2.csv",index=False,sep=',')

In [26]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [27]:
mChart = MotionChart(df = merge1, key='Year', x='Race', y='Rate of Birth', xscale='linear', yscale='linear',
                     size='Female Children Distribution', color='Women Ages', category='Race')

mChart.to_notebook()