In [25]:
from motionchart.motionchart import MotionChart
import pandas as pd

In [63]:
sg = pd.read_csv('ERP_by state and gender.csv')

In [64]:
hpi = pd.read_csv('House Price Index.csv')

In [65]:
ts = pd.read_excel('SA4 Time Series - October 2016.xls', sheetname = 'Time Series')

In [66]:
hpi.rename(columns={'Unnamed: 0':'Date'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Sydney ;':'NSW'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Melbourne ;':'VIC'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Brisbane ;':'QLD'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Adelaide ;':'SA'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Perth ;':'WA'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Hobart ;':'TAS'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Darwin ;':'NT'}, inplace=True)
hpi.rename(columns={'Residential Property Price Index ;  Canberra ;':'ACT'}, inplace=True)

In [67]:
hpi = pd.melt(hpi, id_vars=['Date'],value_vars=['NSW','VIC','QLD','SA','WA','TAS','NT','ACT'],var_name='State')
hpi.rename(columns = {'value':'House Price Index'}, inplace = True)
hpi.head()

        Date State  House Price Index
0  01-Dec-05   NSW               81.8
1  01-Mar-06   NSW               80.8
2  01-Jun-06   NSW               82.3
3  01-Sep-06   NSW               82.0
4  01-Dec-06   NSW               82.7

In [68]:
sg.rename(columns={'Unnamed: 0':'Date'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  New South Wales ;':'NSW'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Victoria ;':'VIC'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Queensland ;':'QLD'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  South Australia ;':'SA'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Western Australia ;':'WA'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Tasmania ;':'TAS'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Northern Territory ;':'NT'}, inplace=True)
sg.rename(columns={'Estimated Resident Population ;  Persons ;  Australian Capital Territory ;':'ACT'}, inplace=True)

In [69]:
sg = sg[['Date','NSW','VIC','QLD','SA','WA','TAS','NT','ACT']]

In [70]:
sg = pd.melt(sg, id_vars=['Date'],value_vars=['NSW','VIC','QLD','SA','WA','TAS','NT','ACT'],var_name='State')
sg.rename(columns = {'value':'Population'}, inplace = True)
sg.head()

        Date State  Population
0  01-Dec-05   NSW     6718023
1  01-Mar-06   NSW     6735528
2  01-Jun-06   NSW     6742690
3  01-Sep-06   NSW     6766133
4  01-Dec-06   NSW     6786160

In [71]:
import datetime
ts.Date = ts.Date.apply(lambda x: datetime.datetime.strftime(x, '%d-%b-%y'))

In [72]:
ts.rename(columns={'Unemployment Rate (15+)':'Unemployment Rate'}, inplace=True)
ts.rename(columns={'State/Territory':'State'}, inplace=True)
ts = ts[['State','Date','Unemployment Rate']]
ts.head()

  State       Date  Unemployment Rate
0   NSW  01-Feb-78           6.773762
1   NSW  01-Mar-78           6.490161
2   NSW  01-Apr-78           6.507978
3   NSW  01-May-78           6.115171
4   NSW  01-Jun-78           6.424127

In [73]:
merge = pd.merge(sg,hpi, on=['Date','State'])
merge.head()

        Date State  Population  House Price Index
0  01-Dec-05   NSW     6718023               81.8
1  01-Mar-06   NSW     6735528               80.8
2  01-Jun-06   NSW     6742690               82.3
3  01-Sep-06   NSW     6766133               82.0
4  01-Dec-06   NSW     6786160               82.7

In [74]:
merge = pd.merge(merge,ts, on=['Date','State'])
merge.head()

        Date State  Population  House Price Index  Unemployment Rate
0  01-Dec-05   NSW     6718023               81.8           5.293757
1  01-Mar-06   NSW     6735528               80.8           4.978780
2  01-Jun-06   NSW     6742690               82.3           5.288439
3  01-Sep-06   NSW     6766133               82.0           5.200780
4  01-Dec-06   NSW     6786160               82.7           4.811675

In [75]:
merge.to_csv("Task1.csv",index=False,sep=',')

In [76]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [77]:
mChart = MotionChart(df = merge, key='Date', x='Unemployment Rate', y='House Price Index', xscale='linear', yscale='linear',
                     size='Population', color='State', category='State')

mChart.to_notebook()

In [79]:
sg = pd.read_csv('userssharedsdfratebrthsyaw1819raceethncty20002012.csv')

In [80]:
sg.rename(columns={'Race/ethnicity ':'Race'}, inplace=True)
sg.rename(columns={'Rate of birth to women ages 18-19':'18-19'}, inplace=True)
sg.rename(columns={'Rate of birth to women ages 20-24':'20-24'}, inplace=True)
sg.rename(columns={'Distribution of male children born to women ages 18-19':'Male Children(18-19)'}, inplace=True)
sg.rename(columns={'Distribution of female children born to women ages 18-19':'Female Children(18-19)'}, inplace=True)
sg.rename(columns={'Distribution of male children born to women ages 20-24':'Male Children(20-24)'}, inplace=True)
sg.rename(columns={'Distribution of female children born to women ages 20-24':'Female Children(20-24)'}, inplace=True)

In [81]:
sg1 = sg[['Race','Year','18-19','20-24']]

In [83]:
sg1 = pd.melt(sg, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg1.rename(columns = {'value':'Rate of Birth'}, inplace = True)
sg1.head()

                  Race  Year Women Ages  Rate of Birth
0  White, non-Hispanic  2000      18-19           57.5
1  White, non-Hispanic  2001      18-19           54.7
2  White, non-Hispanic  2002      18-19           52.0
3  White, non-Hispanic  2003      18-19           50.0
4  White, non-Hispanic  2004      18-19           48.6

In [84]:
sg2 = sg[['Race','Year','Male Children(18-19)','Male Children(20-24)']]
sg2.rename(columns={'Male Children(18-19)':'18-19'}, inplace=True)
sg2.rename(columns={'Male Children(20-24)':'20-24'}, inplace=True)
sg2 = pd.melt(sg2, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg2.rename(columns = {'value':'Male Children Distribution'}, inplace = True)
sg2.head()

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                  Race  Year Women Ages Male Children Distribution
0  White, non-Hispanic  2000      18-19                      51.5%
1  White, non-Hispanic  2001      18-19                      51.3%
2  White, non-Hispanic  2002      18-19                      51.1%
3  White, non-Hispanic  2003      18-19                      51.4%
4  White, non-Hispanic  2004      18-19                      51.2%

In [85]:
sg3 = sg[['Race','Year','Female Children(18-19)','Female Children(20-24)']]
sg3.rename(columns={'Female Children(18-19)':'18-19'}, inplace=True)
sg3.rename(columns={'Female Children(20-24)':'20-24'}, inplace=True)
sg3 = pd.melt(sg3, id_vars=['Race','Year'],value_vars=['18-19','20-24'],var_name='Women Ages')
sg3.rename(columns = {'value':'Female Children Distribution'}, inplace = True)
sg3.head()

                  Race  Year Women Ages Female Children Distribution
0  White, non-Hispanic  2000      18-19                        48.5%
1  White, non-Hispanic  2001      18-19                        48.7%
2  White, non-Hispanic  2002      18-19                        48.9%
3  White, non-Hispanic  2003      18-19                        48.6%
4  White, non-Hispanic  2004      18-19                        48.8%

In [86]:
merge1 = pd.merge(sg1,sg2, on=['Race','Year','Women Ages'])

In [87]:
merge1 = pd.merge(merge1,sg3, on=['Race','Year','Women Ages'])
merge1.head()

,Race,Year,Women Ages,Rate of Birth,Male Children Distribution,Female Children Distribution
0,"White, non-Hispanic",2000,18-19,57.5,51.5%,48.5%
1,"White, non-Hispanic",2001,18-19,54.7,51.3%,48.7%
2,"White, non-Hispanic",2002,18-19,52.0,51.1%,48.9%
3,"White, non-Hispanic",2003,18-19,50.0,51.4%,48.6%
4,"White, non-Hispanic",2004,18-19,48.6,51.2%,48.8%

In [88]:
merge1.to_csv("Task2.csv",index=False,sep=',')

In [89]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [90]:
mChart = MotionChart(df = merge1, key='Year', x='Race', y='Rate of Birth', xscale='linear', yscale='linear',
                     size='Female Children Distribution', color='Women Ages', category='Race')

mChart.to_notebook()